APP_NAME=Crypto
APP_ENV=local
APP_KEY=base64:appkey=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://crypto.local

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=crypto-dev
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

JWT_SECRET=jwtsecret
JWT_EXPIRES_AFTER=60
