.modal-form {
	.form-group {
		padding-top: 12px;
	}

	label {
		font-weight: 400;
		color: #252525;

		padding-bottom: 0;
		margin-bottom: 0;
	}
}

button:hover {
	cursor: pointer;
}

.btn-float {
	float: left;
	margin-right: 15px;
}

.invalid-feedback {
	&--always-show {
		display: block!important;
	}
}
