.navbar-wrapper {
	background-color: $navbar-inverse-bg;
}

.nav-item-login {
	padding-right: 15px;
}

.navbar-brand-icon {
	width: 32px;
}

.navbar-brand-text {
	position: relative;
	left: 1px;
	top: 2px;
	font-size: 22px;
	font-weight: 400;
}
