.statcard-desc {
	display: block;
	margin-bottom: 10px;
}

.statcard-number {
	&--h3 {
		font-size: 1.75rem;
		font-weight: 300;
		line-height: 1.2;
		color: white;

		padding-bottom: 10px;
	}

	&__amount {
		display: inline-block;
		padding-right: 10px;
	}

	&__right {
		display: inline-block;
	}

	&__change {
		font-size: 10px;
		color: #828a9f;

		position: relative;
		top: -6px;
	}

	.delta-indicator {
		position: relative;
		top: 0px;
	}

	&__percentages {
		&__percentage {
			display: inline-block;

			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
