.sidebar-brand {

	&:hover {
		color: #cfd2da!important;
	}

	&-icon {
		height: 35px !important;
		position: relative;
		top: -2px;
	}
}

.sidebar-brand-text {
	left: 9px!important;
	top: 3px!important;
	font-size: 1.37rem;
}
